<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cradle.rancune.learningandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--AIDL-->
        <activity
            android:name=".aidl.client.BookManagerClientActivity"
            android:label="@string/activity_aidl" />

        <service
            android:name=".aidl.server.BookManagerService"
            android:process=":remote" />

        <!--OpenGL-->
        <activity
            android:name=".opengl.OpenGLMainActivity"
            android:label="@string/activity_opengl" />

        <activity
            android:name=".opengl.ui.OpenGLBasisActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".opengl.ui.OpenGLCameraActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".opengl.ui.OpenGLSaturationActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".opengl.ui.OpenGLFboActivity"
            android:theme="@style/AppTheme" />


    </application>

</manifest>